.headerDiv{
    width: 1631px;
    height: 123px;
    display: inline-flex;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 39px 39px 0px 0px;
}

.flag{
    width: 20px;
    height: 20px;
    margin: 5px 0px 0px 56px;
}